 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

    body {
      display: flex;
      height: 100vh;
      justify-content: center;
      align-items: center;
      font-family: "Inter", sans-serif;
      background: #121212;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem;
    }

    .container {
        position: relative;
        display: flex;
        width: 70%;
        height: 80%;
        justify-content: center;
        align-items: center;
        background: rgb(24, 24, 24);
        border-radius: 24px;
        padding: 0.5rem;
    }

    .img {
        position: relative;
        background: url('/images/hero-left.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        width: 50%;
        border-radius: 16px;
        transition: all 0.5s ease;
    }

    .img.slide {
        transform: translateX(100%);
    }

    .img .blur {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 20%;
        backdrop-filter: blur(3px);
        border-radius: 16px;
    }

    .blur img {
        width: 25%;
    }

    .btn-rule {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .auth-box {
        display: flex;
        gap: 2rem;
        flex-direction: column;
        justify-content: center;
        padding: 0 5rem;
        border-radius: 10px;
        width: 50%;
        height: 100%;
        align-items: center;
    }

    .mobile-logo {
        display: none;
    }

    .auth-box .text-header {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }

    .text-header p {
        font-size: 12px;
        font-weight: 300;
    }

    .text-header p a {
        color: #00ff6a;
        text-decoration: none;
    }

    .auth-box h1 {
        display: flex;
        align-items: flex-start;
        width: 100%;
        font-size: 1.5rem;
        font-weight: 400;
    }

    input {
      display: block;
      width: 100%;
      padding: 0.75rem;
      margin: .5rem 0;
      border: none;
      border-radius: 5px;
      background: #1f1f1f8f;
      font-size:12px;
      color: #fff;
      font-family: "Inter", sans-serif;
      font-weight: 350;
    }

    input:focus {
        border: none;
        outline: none;
    }

    .esseda {
        display: flex;
        flex-direction: column;
    }

    .password {
        display: flex;
        gap: 1rem;
    }

    button {
      color: #fff;
      padding: 0.75rem;
      width: 100%;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-family: "Inter", sans-serif;
    }

    button:hover {
      background-color: #00cc57;
    }

    .create-account {
        font-weight: 500;
        background: #00ff6a;
        color: #000;
    }

    #google-signup{
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 200;
        gap: 1rem;
        background: transparent;
        border: 1px solid #1f1f1f;
        transition: all 0.3s ease;
    }

    #google-signup:hover {
        background: #ffffff07;
        backdrop-filter: blur(2px);
    }

    #google-signup img{
        width: 8%;
    }

    .password-rule {
      font-size: 10px;
      margin: 0.5rem;
      color: #505050;
    }

    .blur-mobile {
        display: none;
    }


    .t-and-c {
        display: flex;
        align-items: flex-end;
        font-size: 12px;
        font-weight: 300;
    }

    .t-and-c a {
        color: #00ff6a;
        text-decoration: none;
    }

    @media (min-width: 344px) and (max-width: 480px) {

        .container {
            position: relative;
            width: 100%;
            height: auto;
            background: url('/images/hero-left.png');
            background-size: contain;
            border-radius: 8px;
        }

        .mobile-logo {
            display: flex;
            height: 15%;
            width: 30%;
            margin-bottom: 1rem;
        }
        .auth-box {
            padding: 1rem 1.7rem;
            width: 100%;
            z-index: 2;
        }

        .auth-box-login {
            padding: 2rem;
            width: 100%;
        }

        .input {
            font-weight: 400;
            color: #fff;
        }

        .password-rule {
            font-weight: 200;
            color: #eeeeee;
        }
        #google-signup {
            border: 1px solid #ffffff31;
    }
        .img {
            display: none;
        }

        .blur-mobile {
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            backdrop-filter: blur(4px);
            z-index: 1;
            display: block;
            border-radius: 8px;
        }

        .t-and-c {
            margin-top: 2rem;
        }
    }

    @media (min-width: 480px) and (max-width: 750px) {

        .container {
            position: relative;
            width: 100%;
            height: auto;
            background: url('/images/hero-left.png');
            background-size: contain;
            border-radius: 8px;
        }

        .mobile-logo {
            display: flex;
            height: 15%;
            width: 30%;
        }
        .auth-box {
            padding: 1rem 1.7rem;
            width: 100%;
            z-index: 2;
        }

        .auth-box-login {
            width: 100%;
        }

        .input {
            font-weight: 400;
            color: #fff;
        }

        .password-rule {
            font-weight: 200;
            color: #eeeeee;
        }
        #google-signup {
            border: 1px solid #ffffff31;
    }
        .img {
            display: none;
        }

        .blur-mobile {
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            backdrop-filter: blur(4px);
            z-index: 1;
            display: block;
            border-radius: 8px;
        }
    }
    @media (min-width: 768px) and (max-width: 1024px) {
        .container {
            width: 95%;
            height: auto;
        }

        .auth-box {
            padding: 5rem 2rem;
        }
    }